a,
img{
	&:focus{
		outline: none;
		box-shadow:none !important;
	}
}

/* Section Header */
.vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	z-index: 999;
}

.btn-white-border {
	.btn();

	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	min-width: 170px;
	padding: 10px 15px;
	border-radius: 35px;

	&:hover,&:focus {
		background: @brand-primary;
		border-color: @brand-primary;
	}
}

.css-fullscreen{
	position: relative;
	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		z-index: 2;
		background: #000;
		opacity: .2;
		top: 0;
		left: 0;
	}
  &.section_child--15:before{
    background: #252525;
  }	
}
.css-overlay {
	height: 100vh;
	padding: 0;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		z-index: 2;
		background: #000;
		opacity: .2;
		top: 0;
		left: 0;
	}
  &.section_child--15:before{
    background: #252525;
  }
}

.css-quarter {
	padding: 55px 0;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		z-index: 2;
		background: #000;
		opacity: .9;
		top: 0;
		left: 0;
	}
}

.background-image-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  background-size: cover !important;
  background-position: 50% 50% !important;
  -webkit-transition: .3s;
  transition: .3s;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  opacity: 0;

  &.fadeIn {
  	opacity: 1;
  }
}
  
.section_header--info {
	.vertical();
}

/* Header Nav */

body{
	padding-top: 100px;
	&.home{
		padding-top: 0px;
	}
}
.header {
	background: #111;
	padding-top: 15px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0;
	.home & {
		padding-top:55px;
		background: transparent;
		position: absolute;
		z-index: 1060;
		width: 100%;
		left: 0;
		top:0;
	}
}
.navbar {
	border-radius: 0px;
	margin-bottom: 0;
	border-bottom: 1px solid @gray-light;
	.home &{
		border-bottom: none;
	}
	.navbar-toggle{
		color: #fff;
		text-transform: uppercase;
	}
	.logo {
		float: left;
		img {
			margin-top: 11px;
			height: 51px;
			width: auto;
			margin-right: 20px;
			margin-left: 15px;
			@media (min-width: @screen-md-min){
				margin-left: 0px;
			}
			
			.home &{
				margin-top: 0px;
				width: 65px;
				height: 81px;
			}
		}
	}
}


.navbar-collapse.in,
.navbar-collapse.collapsing{
	background: rgba(17,17, 17, 0.95);
	@media (min-width: @screen-md-min) {
		background: transparent;
	}
}

.nav_primary > li{
	> a {
  		font-family: @font-family-sans-serif-light;
  		font-weight: 100;
  		font-size: 17px;
  		color: #999;
		.home &{
	  		font-size: 21px;
	  	}
	  &:hover, &:focus,{
	  	background: transparent;
	  	color: @brand-primary;
	  }
	}
	&.current_page_item > a {
  	background: transparent;
  	color: @brand-primary;
  }
}

.nav_secondary > li > a {
  font-size: 14px;
  color: #fff;
  &:hover,&:focus {
  	background: transparent;
  	color: @brand-primary;
    .fa{
     color: @brand-primary;
    }
  }
  .fa{
    color: rgba(255, 255, 255, 0.4);
  }
}


.header_content {
	color: #fff;
	@media screen and ( max-height: 650px ){
		padding-top: 100px;
	}
	@media screen and ( max-height: 530px ){
		padding-top: 200px;	
	}
	@media screen and ( max-height: 430px ){
		padding-top: 300px;		
	}
	@media screen and ( max-height: 330px ){
		padding-top: 450px;		
	}

	h1 {
		font-size: 67px;
		font-family: @font-family-title;
		font-weight: 300;
    	margin-bottom: 40px;
		@media screen and ( max-height: 730px ){
		    font-size: 47px;
		    margin-bottom: 20px;
		}
	}

	h3 {
		font-weight: 700;
		font-size: 30px;
		font-family: @font-family-sans-serif;
    	margin-bottom: 40px;
    	@media screen and ( max-height: 730px ){
    		font-size: 24px;
    		margin-bottom: 30px;
    	}
	}

	p {
		.lead();
	}
}


/* Section Testimonial */

.section_testimonials {
	background: #111111;
	padding: 35px;
}

.testimonial_image {
	margin: auto;
	max-width: 230px;
	margin-bottom: 45px;
}

.testimonial_content--blockquote {
  &::before,
  &::after{
    color: #4c4c4c;
    position: absolute;
    top: 50%;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  &::before{
    content: "\f10d";
    left: 0%;
  }
  &::after{
    content: "\f10e";
    right: 0%;
  }
	color: #fff;
	border-left: none;
	text-align: center;
  p{
    font-family: @font-family-title;
    font-weight: 100;
  }
}

.testimonial_author {
	text-align: center;
  font-style: normal;
  font-family: @font-family-sans-serif-light;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
}

.testimonial_author--name {
	display: block;
	color: #eee;
  font-size: 15px;
}
.testimonial_author--description {
	display: block;
	color: rgba(153, 153, 153, 0.5);
  font-size: 13px;
}

.flexslider {
	background: transparent;
	border:none;
  li a{
    border-radius: 0px;
    background: #999;
    border: 1px solid #999;
    &.flex-active,
    &:hover{
      border: 1px solid #fff;
      background: #fff;
    }
  }
}

/* Section Child Pages */
.section_child {
	&.css-fullscreen {
		&:before {
			opacity: 0.9;
		}
	}
}
.section_child--info{
	position: relative;
	z-index: 999;
	padding: 40px 0;
}

.child_content {
	color: #fff;

	.child_content--title {
		font-size: 2em;
		font-weight: 300;
		font-family: @font-family-sans-serif;
	}

	p {
		font-size: @font-size-large;
    font-family: @font-family-title;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
	}
}

.child_more {
	padding: 25px 0;
}

.child_more--btn {
	.btn-white-border();
}

.product_info--btn{
	.btn();
	.btn-info();
	.btn-lg();
}

/* Page Menus */

.page_menu {
	.list-unstyled();

	.page_menu--item {
		border-bottom: 1px solid @gray-lighter;

		&:first-child {
			border-top: 1px solid @gray-lighter;
		}

		a {
			color: #999999;
			font-weight: 300;
      padding: 17px 0;
      display: block;
      &:after{
        float: right;
        color: #999999;
        content: "\f105";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 2em;
        line-height: 0.7em;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
			&:hover {
				color: @brand-primary;
        &:after{
          color: @brand-primary;
        }
			}
		}
	}
}

/* Consultancy & Training */

.section_training--info {
	// position: relative;
	// z-index: 999;
	// padding: 40px 0;
	.vertical();
}

.training_content {
	color: #fff;
	text-align: center;

	.training_content--title {
		font-size: 48px;
		font-family: @font-family-title;
		font-weight: 300;
		margin-bottom: 35px;
	}


	p {
		.lead();
	}
}

/* Footer */

.footer_primary {
	background: #111;
	padding: 30px 0;
}

.footer_legal {
	background: #1b1b1b;
	padding: 15px 0;
	text-align: center;
  color: @gray-light;
  font-weight: 200;
}

.footer_attribution {
	text-align: center;
	color: @gray-light;
	font-size: @font-size-small;
	text-transform: uppercase;
	@media (min-width: @screen-md-min) {
		text-align: right;	
	}
	a {
    	color: @gray-light;
    	&:hover{
		  color: @brand-primary;
    	}
	}
}

.footer_logo {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	img {
		margin:auto;
	}
}


.navbar_bottom {
	.nav();
	.nav-pills();
	margin: 0;
	text-align: center;
	display: inline;
	> li {
		float: none;
		@media (min-width: @screen-md-min) {
			float: left;
		}
		> a {
			text-transform: uppercase;
			font-size: @font-size-small;
			color:#fff;
			padding-top: 0;
  			padding-bottom: 0;
  			display: inline;
  			@media (min-width: @screen-md-min) {
  				display: block;
  			}
			&:hover {
				background: transparent;
        		color: @brand-primary;
			}
		}
	}
}

/* Products */

.section_products--info {
	position: relative;
	z-index: 999;
}

.section_products--title {
	font-size: 28px;
	font-weight: 300;
}

.section_products-archive {
	padding: 35px 0;
}

.products_content {
	color: #fff;

	.products_content--title {
		font-size: 48px;
		margin-bottom: 35px;
		padding-bottom: 5px;
		border-bottom: 2px solid @brand-primary;
    	display: inline-block;
	}

	p {
		.lead();
    font-family: @font-family-title;
	}
}

.products_list,
.industries_list,
.videos_list{
	.list-unstyled();
	border-top: 1px solid @gray-lighter;

	.list_product,
	.list_industry,
	.list_video {
		width: 100%;
		float: left;
		min-height: 380px;
		padding: 35px;
		border-left: 1px solid @gray-lighter;
		border-right: 1px solid @gray-lighter;
		border-bottom: 1px solid @gray-lighter;
		@media (min-width: @screen-sm-min) {
			width: 50%;
		}

    	&:hover{
      		box-shadow: 0px 0px 5px #ccc;
    	}
		&:nth-child(2n+1) {
			clear: both;
			@media (min-width: @screen-sm-min) {
				border-right: none;
			}
		}

		&:nth-child(3n) {
			
		}

		&:last-child {
			border-right: 1px solid @gray-lighter;
		}
	}
}

.product_info--title {
	font-size: @font-size-large;
	color: @brand-info;
}

.product_info--subtitle { 
	font-size: 14px;
}

.product_info--link {
	color: @brand-info;

	> span {
		font-size: 2em;
		margin-left: 10px;
		vertical-align: middle;
	}
}

.product_notes{
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Single Product */

.section_product--info {
	position: relative;
	z-index: 999;
}

.section_product--title {
	font-size: 28px;
	font-weight: 300;
}

.section_product-single {
	padding: 35px 0;
}

.product_content {
	color: #fff;

	.product_content--title {
		font-size: 48px;
		margin-bottom: 35px;
		padding-bottom: 5px;
		border-bottom: 2px solid @brand-primary;
    display: inline-block;
	}

	p {
		.lead();
    font-family: @font-family-title;
	}
}

/* Downloads */

.section_downloads-single{
	padding: 35px 0;
}

/* Industry */

.section_industries--info {
	position: relative;
	z-index: 999;
}

.section_industries--title {
	font-size: 28px;
	font-weight: 300;
}

.section_industries-archive {
	padding: 35px 0;
}

.industries_content {
	color: #fff;

	.industries_content--title {
		font-size: 48px;
		margin-bottom: 35px;
		padding-bottom: 5px;
		border-bottom: 2px solid @brand-primary;
    	display: inline-block;
	}


	p {
		.lead();
    	font-family: @font-family-title;
	}
}

.industry_info--title {
	font-size: @font-size-large;
	color: @brand-info;
}

.industry_info--subtitle { 
	font-size: 14px;
}

.industry_info--link {
	color: @brand-info;

	> span {
		font-size: 2em;
		margin-left: 10px;
		vertical-align: middle;
	}
}

/* Widgets */

.standard {
	border-top: 5px solid @brand-info;
	padding: 25px;
	background-color: #f2f2f2;
  margin-bottom: 40px;

	.section_widget--heading {
		padding-bottom: 15px;
	}

	.section_widget--title {
		color: @brand-info;
		font-size: @font-size-large;
	}

	.textwidget {
		color: #111;
	}

  .menu{
    padding-left: 0px !important;
    li{
      border-top: 1px solid @gray;
      list-style: none;
      &:last-child{
        border-bottom: 1px solid @gray;
      }
      a{
        padding: 10px 0;
        display: block;
        &:after{
          float: right;
          content: "\f105";
          display: inline-block;
          line-height: 1.3em;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }

}  


// Panesl
.panel-group{
  .panel{
    border-radius: 0px;
    .panel-heading{
      border-radius: 0px;
    }
  }
}

// Gravity
body .gform_wrapper{
	.gform_body{
		.gform_fields{
			.gfield {
				margin-bottom: 10px;
				.gfield_label {
					font-family: @font-family-title;
					font-weight: normal;
					margin-bottom: 0px;
				}
			}
			textarea,
			input[type=text]{
				border: 2px solid @gray-lighter;
				padding: 10px;
				&:focus{
					border: 2px solid @gray;
				}
			}
			label{
				font-weight: 200;
			}
		}
	}
	.gform_footer{
		input[type=submit]{
			.btn();
			.btn-info();
		}
	}
}

// Support

.panel-group .panel+.panel{
	margin-top: -1px;
}
.panel{
	box-shadow: none;
}
.panel-default{
	border-left: none;
	border-right: none;	
	box-shadow: none;
	border-color: @gray-lighter;
	>.panel-heading{
		background: none;
		padding: 15px 15px;
		.panel-title{
			&:after{
				font-family: FontAwesome;
				content: "\f196";
				display: inline-block;
				float: right;
			}
		}
	}
	>.panel-heading.active{
		.panel-title{
			&:after{
				content: "\f147";
			}
		}
	}
}

#filters,.nav-tabs{
	margin-bottom: 40px;
	.active {
		position: relative;
		background: #fff;
		border-bottom: 1px solid #ddd;
		color: @brand-primary;
	}
	li>a{
		cursor: pointer;
	}
	li>a:hover{
		background: #fff;
		border-color: #fff; 
		border-bottom:1px solid #ddd;
	}
	.active:after, .active:before{
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.active:after{
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 4px;
		margin-left: -4px;
	}
	.active:before{
		border-color: rgba(238, 238, 238, 0);
		border-top-color: #ddd;
		border-width: 5px;
		margin-left: -5px;
	}
}

#loginform{
	border: 1px solid #ddd;
	padding: 35px 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	label{
		display: block;
		font-weight: normal;
		.small();
	}
	input{
		background-color: #f9f9f9;
		border: 1px solid #eee;
		padding: 5px 10px;
	}
	.button-primary{
		.btn();
		.btn-info();
		.btn-sm();
		padding-left: 40px;
		padding-right: 40px;
		margin-top: 10px;
	}
}
.mix{
    display: none;
}
